<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%# messages() %>

            <div class="login-form">
                <form>
                    <label for="account_email">Email:</label><br>
                    <input type="email" id="account_email" name="account_email" placeholder="Enter Email" required
                        autofocus autocomplete="on"><br>
                    <label for="account_password">Password:</label><br>
                    <input type="password" id="account_password" name="account_password" placeholder="Enter Password"
                        required><br>
                    <input type="submit" value="Login">
                </form>
                <p>No account? <a href="account/registration">Sign-up</a></p>
            </div>