<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>

            <div class="login-form">
                <form>
                    <label for="account_email">Email:</label><br>
                    <input type="email" id="account_email" name="account_email" placeholder="Enter Email" required
                        autofocus autocomplete="on"><br>
                    <label for="account_password">Password:</label><br>
                    <input type="password" id="account_password" name="account_password" placeholder="Enter Password" required minlength="12" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                      title="Password must be at least 12 characters and include 1 capital letter, 1 number, and 1 special character."><br>
                    <p id="pwdReq">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</p>
                    <input type="submit" value="Login">
                </form>
                <p>No account? <a href="/account/register">Sign-up</a></p>
            </div>