/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #FF1D15;
  --secondary-color: #FF7F11;
  --tertiary-color: #5386E4;
  --neutral-color: #E7ECEF;
  --dark-color: #272932;

  --heading-font: 'Orbitron', sans-serif;
  --paragraph-font: 'Inter', sans-serif;
}

main {
  display: grid;
  gap: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

body {
  font-family: var(--paragraph-font);
  color: var(--dark-color);
}

nav {
  background-color: var(--dark-color);
  color: var(--neutral-color);
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: .5rem;
}

nav a{
  text-decoration: none;
  color: var(--neutral-color);
}

a:visited {
  color: var(--neutral-color);
}

nav li, #inv-display li {
  list-style-type: none;
}

#top-header {
  display: grid;
  padding: 1rem;
}

#top-header a, .namePrice a {
  text-decoration: none;
  color: var(--dark-color);
}

#top-header .siteName {
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 700;
}

#top-header #tools {
  justify-self: end;
  grid-column-start: 2;
}

.hero {
  position: relative;
  grid-row-start: 1;
}

.hero h1, main h1 {
  margin-left: 1rem;
}

.hero img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.delorean-ad {
  background-color: rgba(231, 236, 239, 0.8);
  position: absolute;
  top: 7rem;
  left: 1rem;
  padding: 1rem;
}

.delorean-ad h2 {
  margin: 0;
}

.delorean-ad p {
  font-size: 1rem;
  font-weight: bold;
}

.delorean-ad img {
  width: 8rem;
}

.reviews {
  grid-row-start: 2;
}

h2, h3 {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.reviews li {
  padding: .5rem 0;
}

.upgrades-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrades-list h2 {
  grid-column: 1 / span 2;
}

.upgrade-item {
  display: grid;
  align-items: center;
  justify-items: center;
}

.part-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 6rem;
  background-color: var(--primary-color);
  border: 2px solid var(--dark-color);
}

.upgrade-item a {
  padding-bottom: 2rem;
  color: var(--dark-color);
}

#inv-display {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  grid-row-start: 2;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
}

#inv-display li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--dark-color);
  box-shadow: var(--dark-color) 0px 5px 15px;
  border-radius: 5px;
  max-width: 300px;
  height: 320px;
}

#inv-display img {
  width: 100%;
  min-width: 200px;
}

#inv-display hr {
  border: none;
  height: 5px;
  background-color: var(--secondary-color);
}

.namePrice {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: auto;
}

.namePrice h2 {
  font-size: 1rem;
  margin: .5rem;
}
.namePrice a:hover {
  text-decoration: underline;
}

.namePrice span {
  font-weight: bold;
  font-size: 1.5rem;
}

#inv-detail-display {
  width: 95%;
  margin: 0 auto;
}

#inv-detail-display img {
  width: 100%;
  max-width: 650px;
  height: auto;
  margin: 0 auto;
}

#inv-detail-display h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

#inv-detail-display p {
  margin: 1.5rem 1rem;
  padding: 1rem;
  font-size: 1.2rem;
}

#inv-detail-display p:nth-child(even) {
  background-color: var(--neutral-color);
}

.error-message {
  margin-left: 2rem;
  font-size: 1.2rem;
}

.login-form, .register-form, .classification-form, .inventory-form, .edit-account-form, .edit-password-form, .add-review-form {
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid var(--tertiary-color);
  border-radius: 5px;
  box-shadow: var(--dark-color) 0px 5px 15px;
  width: 90%;
  max-width: 600px;
}

.add-review-form {
  max-width: 90%;
}

form {
  display: grid;
  font-size: 1.1rem;
}

input[type="email"], input[type="password"], input[type="text"], input[type="number"], textarea, select {
  padding: .5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: .7rem;
}

input[type="submit"] {
  width: 35%;
  justify-self: end;
  padding: .5rem;
  background-color: var(--background-color);
  font-family: var(--paragraph-font);
  border-radius: 20px;
  font-size: 1.1rem;
  min-width: 180px;
}

input[type="submit"]:hover, .login-form a:hover {
  cursor: pointer;
}

input[type="submit"]:disabled {
  cursor: not-allowed;
}

label {
  font-weight: bold;
}

.login-form p {
  justify-self: center;
  margin: .5rem;
}

.classification-form p {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0;
}

input:required:invalid, input:focus:invalid {
  border-bottom: 2px solid var(--primary-color);
}

input:required:valid, input:focus:valid {
  border-bottom: 2px solid black;
}

footer a:visited, .login-form a:visited, .management:visited {
  color: var(--dark-color);
}

#pwdReq {
  margin: 0 .5rem 1rem;
  font-style: italic;
  font-size: 0.9rem;
}

.notice {
  margin: 0rem 0rem 1rem;
}

.notice li {
  list-style-type: none;
  color: var(--primary-color);
  font-style: italic;
}

.management {
  margin-left: 2rem;
  color: var(--dark-color);
  font-size: 1.3rem;
}

.management:hover, #reviewLogin a:hover {
  color: var(--secondary-color);
}

#selectClass {
  margin: 0 1.5rem;
}

#selectClassList {
  max-width: 250px;
  margin-left: 1.5rem;
}

#inventoryDisplay {
  max-width: 500px;
  margin-left: 1.5rem;
}

th, td {
  padding: 5px;
}

#inventoryDisplay a, #reviewLogin a {
  color: var(--dark-color);
}

#inventoryDisplay a:hover, #editAccount:hover, #manageInv:hover {
  color: var(--primary-color);
}

#confirmDelete {
  font-size: 1.3rem;
  color: var(--primary-color);
  text-align: center;
  margin: 0;
}

#confirmChangePassword {
  text-align: center;
  font-style: italic;
}

#loggedInMessage {
  margin: 0rem 1rem 1rem;
  font-size: 1.2rem;
}

#editAccount, #manageInv {
  color: var(--dark-color);
  margin: 0rem 1rem 1.4rem;
  font-size: 1.2rem;
}

#inv-review-display li p {
  margin: 0rem;
  font-size: 1.1rem;
}

hr {
  height: 5px;
  background-color: var(--secondary-color);
  margin: 0rem 0rem;
  max-width: 90%;
}

#reviewLogin, #noReview {
  margin-left: 2.5rem;
  font-size: 1.1rem;
}

#inv-review-display li {
  margin-bottom: 1rem;
}

footer {
  margin: 2rem 1rem 1rem 1rem;
}

@media screen and (min-width: 30rem) {
  #wrapper {
    width: 90%;
    background-color: white;
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
    margin: 2rem auto;
  }

  body {
    background-image: url('../images/site/small_check.jpg');
  }

  nav {
    width: 98%;
    margin: 0 auto;
  }

  nav ul {
    margin-top: 0;
  }

  .delorean-ad {
    left: 3rem;
  }

  .hero {
    grid-column: 1 / span 2;
  }

  .upgrades-list {
    grid-column-start: 1;
    margin-left: 1rem;
  }

  .reviews {
    grid-column-start: 2;
  }
}

@media screen and (min-width: 60rem) {
  #inv-detail-display {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      align-items: center;
      column-gap: 1rem;
    }
  
    #inv-detail-display img {
      grid-column-start: 1;
      grid-row: 1 / span 5;
    }
  
    #inv-detail-display h2,
    #inv-detail-display p {
      grid-column-start: 2;
    }

    #inv-detail-display p {
      margin: 0;
      font-size: 1.2rem;
    }
}