/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #FF1D15;
  --secondary-color: #FF7F11;
  --tertiary-color: #5386E4;
  --neutral-color: #E7ECEF;
  --dark-color: #272932;

  --heading-font: 'Orbitron', sans-serif;
  --paragraph-font: 'Inter', sans-serif;
}

main {
  display: grid;
  gap: 1rem;
}

h1,
h2 {
  font-family: var(--heading-font);
}

body {
  font-family: var(--paragraph-font);
  color: var(--dark-color);
}

nav {
  background-color: var(--dark-color);
  color: var(--neutral-color);
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: .5rem;
}

nav a {
  text-decoration: none;
  color: var(--neutral-color);
}

a:visited {
  color: var(--neutral-color);
}

nav li {
  list-style-type: none;
}

#top-header {
  display: grid;
  padding: 1rem;
}

#top-header a {
  text-decoration: none;
  color: var(--dark-color);
}

#top-header .siteName {
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 700;
}

#top-header #tools {
  justify-self: end;
  grid-column-start: 2;
}

.hero {
  position: relative;
  grid-row-start: 1;
}

.hero h1 {
  margin-left: 1rem;
}

.hero img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.delorean-ad {
  background-color: rgba(231, 236, 239, 0.8);
  position: absolute;
  top: 7rem;
  left: 1rem;
  padding: 1rem;
}

.delorean-ad h2 {
  margin: 0;
}

.delorean-ad p {
  font-size: 1rem;
  font-weight: bold;
}

.delorean-ad img {
  width: 8rem;
}

.reviews {
  grid-row-start: 2;
}

h2 {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.reviews li {
  padding: .5rem 0;
}

.upgrades-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrades-list h2 {
  grid-column: 1 / span 2;
}

.upgrade-item {
  display: grid;
  align-items: center;
  justify-items: center;
}

.part-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 6rem;
  background-color: var(--primary-color);
  border: 2px solid var(--dark-color);
}

.upgrade-item a {
  padding-bottom: 2rem;
  color: var(--dark-color);
}

@media screen and (min-width: 30rem) {
  #wrapper {
    width: 90%;
    background-color: white;
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
    margin: 2rem auto;
  }

  body {
    background-image: url('../images/site/small_check.jpg');
  }

  nav {
    width: 98%;
    margin: 0 auto;
  }

  nav ul {
    margin-top: 0;
  }

  .delorean-ad {
    left: 3rem;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    grid-column: 1 / span 2;
  }

  .upgrades-list {
    grid-column-start: 1;
  }

  .reviews {
    grid-column-start: 2;
  }
}